/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 15 version
*/

* {
    margin: 0;
    padding: 0;
}

.btn-header{
    box-sizing: border-box;
    height: 100%;
    margin-top: 2px;
    color: rgb(255, 255, 255);
    float: right;

}
#slider1{
    height: 40%;
    box-sizing: border-box;

}

.sl{
    margin: 0 auto;
    width: 120%;

    max-height: 600px;

}

.accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e113";
    float: right;
    color: grey;
}
.accordion-toggle.collapsed:after {
    font-family: 'Glyphicons Halflings';

    content: "\e114";
    float: right;
    color: grey;
}
.tab-content{
    margin-top: 6%;
}
.form-group{
    margin-right: 1%;
}
section{
    margin-bottom: 2%;
}
.thumbnail{
    height: 350px;
}
.th-img{

    max-height: 150px;
    
    

}
.caption{
    /* position: absolute;
    bottom: 20px; */
    margin: 0 auto;
}
.btn-btm{
    position: absolute;
    bottom: 20px;
}



/* @media (min-width: 1200px) {
    height: 100vh;
} */


